---
import { profile } from "../data/profile";
import { skills } from "../data/skills";
import Icon from "../components/Icons";
---

<section class="sidebar-card" aria-label="Persönliche Daten">
	<div class="page">
		<img src="src/assets/profil.jpg" alt="Profilbild" class="profile-image" />
	</div>
	<h2>Persönliche Daten</h2>

	<ul class="details">
		<li>
			<span class="icon" aria-hidden="true" set:html={Icon({ name: "name" })}></span>
			<div>
				<p class="label">Name</p>
				<p class="value">{profile.name}</p>
			</div>
		</li>

		<li>
			<span class="icon" aria-hidden="true" set:html={Icon({ name: "address" })}></span>
			<div>
				<p class="label">Adresse</p>
				<p class="value">{profile.addressLine1}</p>
				<p class="value">{profile.addressLine2}</p>
			</div>
		</li>

		<li>
			<span class="icon" aria-hidden="true" set:html={Icon({ name: "phone" })}></span>
			<div>
				<p class="label">Telefonnummer</p>
				<p class="value">{profile.phone}</p>
			</div>
		</li>

		<li>
			<span class="icon" aria-hidden="true" set:html={Icon({ name: "email" })}></span>
			<div>
				<p class="label">E-Mail-Adresse</p>
				<p class="value">{profile.email}</p>
			</div>
		</li>

		<li>
			<span class="icon" aria-hidden="true" set:html={Icon({ name: "birthDate" })}></span>
			<div>
				<p class="label">Geburtsdatum</p>
				<p class="value">{profile.birthDate}</p>
			</div>
		</li>

		<li>
			<span class="icon" aria-hidden="true" set:html={Icon({ name: "driverLicense" })}></span>
			<div>
				<p class="label">Führerschein</p>
				<p class="value">{profile.driverLicense}</p>
			</div>
		</li>
	</ul>

	<h2>Fähigkeiten</h2>
  	<ul class="skills">
		{
		skills.map((skill) => (
			<li class="skill">
			<span>{skill.name}</span>

			<div class="rating">
				{Array.from({ length: 5 }).map((_, index) => (
				<span class={index < skill.level ? "dot active" : "dot"}></span>
				))}
			</div>
			</li>
		))
		}
	</ul>
</section>